<!DOCTYPE html>
<html>
<title>Unfolding of Fridays for Future</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/fff_design.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.dot_sel {
  height: 15px;
  width: 15px;
  background-color: #686868;
  border-radius: 50%;
  display: inline-block;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
}

</style>
<body>

<div class="bgimg w3-display-container w3-text-black">
  <div class="w3-display-middle">
    <h1 class="w3-xxlarge w3-center">THE UNFOLDING OF FRIDAYS FOR FUTURE</h1>
    <hr class="w3-border-black" style="margin:auto;width:40%">
    <p class="w3-xlarge w3-center">Data-driven insights on a remarkable <br> youth environmental movement</p> 
  </div>

  <div class="w3-display-topright w3-padding-large">
    <p>
      <a href="{{ url_for('page1') }}"><span class="dot_sel"></span></a><br>
      <a href="{{ url_for('page2') }}"><span class="dot"></span></a><br>
      <a href="{{ url_for('page3') }}"><span class="dot"></span></a><br>
      <a href="{{ url_for('page4') }}"><span class="dot"></span></a><br>
      <a href="{{ url_for('page5') }}"><span class="dot"></span></a><br>
      <a href="{{ url_for('page6') }}"><span class="dot"></span></a><br>
      <a href="{{ url_for('page7') }}"><span class="dot"></span></a><br>
      <a href="{{ url_for('page8') }}"><span class="dot"></span></a><br>
      <a href="{{ url_for('page9') }}"><span class="dot"></span></a>
    </p>
  </div>

  <div class="w3-display-bottomleft w3-padding-large">
    <h1 class="w3-large w3-text-grey"> <a href="{{ url_for('page9') }}">About</a> this project | By Lilla Horvath </h1>
  </div>

</div>

</body>
</html>
