<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="fff_design.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('globalcore.png');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    <font color="black">Github</font>
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-center"><font color="black">COMING SOON</font></h1>
    <hr class="w3-border-black" style="margin:auto;width:40%">
    <p class="w3-large w3-center"><font color="black">35 days left</font></p>
  </div>
</div>

</body>
</html>

  <div class="w3-display-bottomright w3-container">
    <button class="w3-button w3-xlarge w3-circle w3-black"></button>
  </div>

  <div class="w3-display-bottomright">
    <button class="w3-button w3-jumbo w3-circle w3-black"></button>
    <button class="w3-button w3-jumbo w3-circle w3-black"></button>
    <button class="w3-button w3-jumbo w3-circle w3-black"></button>
  </div>

  <form id='user_req' method='post' action='/' >
      <input type="button" onclick="alert('Hello World!')" value="Click Me!">
      <input type="button" name="gender" value="female"> Female
    </form>